{{#if responselength}}
    {{#each response}}
        <tr>
            <td><a href="/movie/{{this.id}}"><img src="https://image.tmdb.org/t/p/w185/{{this.poster_path}}" alt="Poster Image"></a></td>
            <td>{{this.title}}</td>
            <td>{{this.vote_average}}</td>
            <td>{{this.vote_count}}</td>
        </tr>
    {{/each}}
{{else}}
<tr>
    <td colspan="4">Empty list</td>
</tr>
{{/if}}