<div class="container"  style="margin-top: 30px">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            {{#if user_active}}
                <a class="nav-link" href="/logout">Logout</a>
            {{else}}
                <a class="nav-link" href="/login">Login</a>
            {{/if}}
        </li>
    </ul>
    <h2>Movies List</h2>
    <p>Type something in the input field to search for the movie by title, genre.</p>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for a movie by title" id="movietitle">
        <div class="input-group-append">
            <button class="btn btn-success" type="submit" id="searchbutton">Go</button>
        </div>
    </div>
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Poster</th>
                <th>Movie Title</th>
                <th>Community score</th>
                <th>No of users voted</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                {{#if responselength}}
                    {{#each response}}
                        <tr>
                            <td><a href="/movie/{{this.id}}"><img src="https://image.tmdb.org/t/p/w185/{{this.poster_path}}" alt="Poster Image"></a></td>
                            <td>{{this.title}}</td>
                            <td>{{this.vote_average}}</td>
                            <td>{{this.vote_count}}</td>
                        </tr>
                    {{/each}}
                {{else}}
                <tr>
                     <td>Empty list</td>
                </tr>
                {{/if}}
            </tr>
        </tbody>
    </table>
</div>
